
    <!-- navbar -->
    <div class="header navbar navbar-light">

        <!-- nav icons for all contacts -->
        <div class="navicons navbar brand">
            <span><i class="fas fa-users fa-2x "><sup class="badge badge-primary" id="countAll"></i> </sup></span>
            <span><i class="fas fa-male fa-2x nav-item"><sup class="badge badge-primary" id="maleContacts"></sup></i></span>
            <span><i class="fas fa-female fa-2x nav-item"><sup class="badge badge-primary" id="femaleContacts"></sup></i></span>
        </div>
        <!-- <form action="/" class="custom-file" method="post" enctype="multipart/form-data">
            <input type="file" class="custom-file-input" name="csv-file" accept=".csv, .xlsx, .xltx" >
            <label class="custom-file-label" for="file"></label>
            <input type="submit" value="upload">
        </form> -->

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
            upload
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadCsvfile" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Csv File</h5>
                        <form action="/" class="custom-file" method="post" enctype="multipart/form-data">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="file-loading">
                            <input type="file" class="" name="csv-file" accept=".csv, .xlsx, .xltx" >
                        </div>
                        <div id="kartik-file-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary" title="Your custom upload logic">Save</button> -->
                        <input type="submit" class="btn btn-primary" value="save">
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div> 