<%- include('partials/header'); -%>

    <div class="search-booky" action="/search" method="GET">
        <div class="bookyContent">
            <img src="images/activespace-logo.png" height="150" width="150" alt="">
            <h1>Booky ActivSpaces</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="search-group input-group">
            <input class="searchbar form-control" type="text" placeholder="Search by Name or email" name="search" id="searchText">
            <div class="input-group-append">
                <button id="search-btn" class="btn btn-primary"><i class="icon fas fa-search fa-lg"></i></button>
            </div>
        </div>
          
        <div id="match-list" class="match-list"></div>
    </div>
    <div id="popup" class="popup"></div>

<%- include('partials/footer'); -%>