<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="header">
        <!-- <i class="fas fa-address-book fa-lg"></i>
        <i class="fas fa-male fa-lg"></i>
        <i class="fas fa-female fa-lg"></i> -->

        <p>Contact-list</p>
        <p>Male-Contacts</p>
        <p>Female-Contacts</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="csv-file" accept=".csv, .xlsx, .xltx" >
            <input type="submit" value="upload">
        </form>
    </div> 
    <hr>

    <form action="/search" method="GET">
        <h2>Booky</h2>
        <input type="text" name="search" id="searchText">
        <button type="submit" name="search" id="search-btn">search</button>
        
        <div id="match-list"></div>
    </form>
    <div id="popup"></div>
    <hr>
    
    <div class="footer">
        <p>Logo</p>
        <footer>Copyright @ ActiveSpaces</footer>
        <button>Download</button>
    </div>
    
</body>
<script>
    const url = "http://localhost:3000/search" ;
    const contact = [];

    let searchText = document.getElementById("searchText");
    let matchdiv = document.getElementById("match-list");
    let popupDiv = document.getElementById("popup");
    let searchBtn = document.getElementById("search-btn")

    searchText.addEventListener("keyup", function(e){
        const newUrl = "http://localhost:3000/search?q=" + searchText.value.toString() ;
        console.log(searchText.value);
        // const urlParams = {q: searchText.value}
        // console.log(urlParams);
        
        if(!searchText.value){
            matchdiv.innerHTML = '';
            popupDiv.innerHTML = '';
            return 
        }
       

        fetch(newUrl)
        .then( response => {
        matchdiv.innerHTML = 'Waiting for response...';
        if(response.ok) {
        return response;
        }
        throw Error(response.statusText);
        })
        .then( response => response.json())
        .then( data => {
            
                data.forEach(element => {               
                console.log(element.fName);

                //Display of suggestion for the search
                let anchor = document.createElement("a")
                let newList = document.createElement('li');
                newList.textContent = (element.fName).toString() + ",  " +(element.email).toString();

                anchor.appendChild(newList)
                anchor.href = '#';
                anchor.id = element._id;
                matchdiv.appendChild(anchor);

                // event listener to display details for each suggestion
                anchor.addEventListener('click', ({currentTarget}) => {
                    const htmlPopup = `<div class=popup>
                                d<img src="" alt="">
                                <h5>Email</h5>
                                <p>${element.email}</p>

                                <h5>First Name</h5>
                                <p>${element.fName}</p>

                                <h5>Last Name</h5>
                                <p>${element.lName}</p>

                                <h5>Phone Number</h5>
                                <p>${element.phoneNum}</p>
                                </div> `;

                    //if(element.fName )
                    popupDiv.innerHTML = htmlPopup;
                    console.log(currentTarget.id)
                    console.log(popupDiv)
                });

                //event listener to display all details on another page
                // searchBtn.addEventListener('click', function(e){
                //     e.preventDefault();
                //     const seachbtndisplay = `
                //     <div>
                //         <p>${element.email}</p>
                //     </div>` ;
                //     popupDiv.innerHTML = seachbtndisplay;
                // })
                    // console.log("All your details",email, fName, lName);
            });
            //onsole.log(data)
           
        })
        .catch( error => console.log('There was an error:',error))

    },false);

         
</script>
</html>