body{
    font-family: 'Poppins', 'sans serif';
    font-size: 18px;
    font-weight: 400;
}

.match {
    background-color: rgb(251, 251, 96)
}

#slider {
    margin: 10px;
    width: 250px;
}

.ui-widget-header {
    background: blue !important
}